 body{
    background-image: url(./Images/Img1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
padding: 0;
    margin: 0;
    font-family: "open Sans", sans-serif;
} 

.hero{
    width:98%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    }
    

h1{
    padding-left: 100px;
    margin: 5px;
    font-family: "Open Sans", sans-serif;;
    color: white;
    font-size: 40px;
    
}

.p1{
    width: 30%;
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
    padding-left: 100px;
}


button {
    width: 150px;
    padding: 10px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #282828;
    color: white;
    border: 1px solid white;
    
}

button:hover {
    background-color: white;
    color: #282828;
}

.social-icons a{
     display: grid;
    margin: 15px;
    padding-right: 50px;
    justify-content: right;
    justify-self: right; 
}

.social-icons img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: right;
}
@media screen and (max-width:768px) {

    body{
        background-size: 100vh;
    } 

    .hero{
        width: ;
    }
    .p1{
        width: 90%;
        margin: 0;
        color: white;
        font-family: "Open Sans", sans-serif;
        padding-left: 40px;
    }

    h1{
        font-size: 30px;
        padding-left: 40px;
        margin-bottom: 5px;
        
    }
}